:host {
    display: flex;
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    min-height: 162px;
    max-height: 162px;
}

.emai-me-button {
    max-width: 180px;
}

.logout-button {
    max-width: 100px;
}

.close-button {
    margin-left: auto;
}